/******************************************************************

1600px and up

******************************************************************/
#body {
	.body {
		max-width: 1600px;
		margin: 0 auto;
		padding: 0 2rem;
	}
}

#not-found{
}
