/******************************************************************

Variables

******************************************************************/

$gray-200: #f2f2f2;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$blue:				#00bceb;
$light-blue:		#1ad6ff;
$dark-blue:			#1e4471;

$orange:			#fbab18;

$yellow:			#eed202;

$red:				#e2231a;

$green:				#6ebe4a;

$black:             #231f20;
$white:             #ffffff;
$body-background:	$gray-200;

$light-gray:        $gray-200;
$border-gray:				$gray-300;
$gray:              $gray-500;
$text-color:        $gray-200;

$border-color:      $gray-400;

$alert-red:					$red;
$alert-green:				$green;
$alert-blue:				$blue;

